<h1>Reactive Forms</h1>

<nav>
  <button type="button" (click)="toggleEditor('name')">Name Editor</button>
  <button type="button" (click)="toggleEditor('profile')">Profile Editor</button>
</nav>

<app-name-editor *ngIf="showNameEditor"></app-name-editor>

<app-profile-editor *ngIf="showProfileEditor"></app-profile-editor>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->