label {
  font-weight: bold;
  padding-bottom: .5rem;
  padding-top: 1rem;
  display: inline-block;
}

button {
  max-width: 300px;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/